/* 学習の手引き */
.study_guide_contents {
  width: 800px;
  margin: 0 auto;
}

.l1_critical_essay_content {
  margin-bottom: 50px;
}

.important_word {
  font-size: 18px;
  color: red;
}

.l1_reflection_essay_content {}