





<h1 class="title">学習の手引き</h1>
<div class="study_guide_contents">
  <div class="l1_critical_essay_content">
    <h2>1.説明文・評論文の読解(筆者が言いたい事を見つける方法)</h2>
    <div>
      <h3>①逆接ポイント</h3>
      <p class="p_text">
        筆者は逆接を使って一般論を否定したり他と比較することで自分の意見を述べている。
        そたのめ、逆接表現があったらその次には筆者の言いたい部分がある場合が多い<br><br>

        <div class="important_word">だが、しかし、ところが、でも、が</div>
      </p>

      <h3>②打ち消しポイント</h3>
      <p class="p_text">
        文末や句読点に続くところの「ない」とか「なく」といった打ち消し表現の後には
        大切なことを述べてある。従って打ち消し表現をチェックすれば筆者の言いたいことが見えてくる<br><br>

        <div class="important_word">〜ない、〜なく</div>
      </p>
      <h3>③まとめポイント</h3>
      <p class="p_text">
        筆者は自分の意見をわかってもらうために、まとめ言葉を使って簡潔にまとめている。
        従って、まとめ言葉の後に筆者の言いたいことが書かれている。まとめ言葉には様々な
        言葉があるから注意が必要。<br><br>

        <div class="important_word">つまり、すなわち、要するに、よって、従って、まとめると、結局、以上のことから、このような</div>
      </p>
      <h3>④気持ちポイント</h3>
      <p class="p_text">
        説明文の中にある筆者の気持ちが入っている部分は、そのまま筆者の言いたいことである。<br><br>
        
        <div class="important_word">ねばならない、するべき、する必要がある、大切だ、ではないだろうか</div>
      </p>
      <h3>⑤具体例を抜く</h3>
      <p class="p_text">
        筆者は自分の意見をわかってもらうために、具体例を述べている。従って、具体例を
        抜けば、筆者の言いたいことが見えてくる。具体例は「物や動作など目に見えるもの」
        言いたい部分は「筆者の気持ちや意見、物事の説明や分析など目に見えないもの」である場合が多い。
      </p>
      <h3>⑥対比</h3>
      <p class="p_text">
        筆者は自分の主張をわかりやすくするために、他のものと比較して説明する場合がある。
        これを対比という。対比はAが〇〇であることに対して、Bは××であることを述べている。
        Bは××であるという部分が重要。
      </p>

      <h3>⑦疑問に対する答え</h3>
      <p class="p_text">
        筆者は疑問文を使って問題提起を行い、それについて詳しく述べた後に、答えによって
        自分の主張を述べている。したがって疑問に対する答えの部分が筆者の言いたいことである。
      </p>
    </div>
  </div>
  <div class="l1_reflection_essay_content">
    <h2>2.感想文のフォーマット</h2>
    <p class="p_text">①文章を読んで心に残ったことは？</p>
    <p class="p_text">②自分や自分の周りで似たようなことがある？自分ならどうする？</p>
    <p class="p_text">③今どんなことを考えている？</p>
    <p class="p_text">④作者や登場人物にいってあげたい事は？</p>
    <div>
    </div>
  </div>
</div>
