* {
  box-sizing: border-box;
}

.top-page-header {
  width: 800px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  text-decoration: none;
  margin-right: 20px;
  color: #333333;
  font-weight: bold;
}

.current_user_points {
  margin-right: 20px;
  color: #333333;
  font-weight: bold;
}

.root_page {
  text-decoration: none;
  line-height: 32px;
  margin-right: 20px;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}