/* 学習画面 */
.content_head {
  width: 1000px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.content_title {
  margin-right: 30px;
  font-size: 18px;
  font-weight: bold;
}

.content_level {
  margin-right: 30px;
  font-size: 18px;
  font-weight: bold;
}

.content_category {
  font-size: 18px;
  font-weight: bold;
}

.document {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 2;
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px 10px;
}

.input_text {
  width: 1000px;
  font-size: 16px;
  line-height: 1.5;
}

.button_area {
  width: 1000px;
  margin: 20px 0;
  text-align: center;
}

.input_button_disable {
  width: 200px;
  height: 30px;
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #fff;
}

.input_button {
  width: 200px;
  height: 30px;
  background: #0099e8;
  border: 1px solid #0099e8;
  border-radius: 10px;
  color: #fff;
}

.content_vocabulary {
  margin: 20px 0;
}

.vocabulary_title {
  font-size: 18px;
  font-weight: bold;
}

.vocabulary {
  font-size: 15px;
  padding: 2px;
}

.input_title_content {
  display: flex;
  justify-content: space-between;
}

.input_title {
  font-size: 18px;
  font-weight: bold;
}

/* 学習結果画面 */
.document_title {
  font-size: 20px;
  font-weight: bold;
}

.comments_form {
  display: flex;
}

.comment_content {
  width: 800px;
}

.form_btn {
  width: 100px;
  background-color: #0099e8;
  color: #fff;
  border: solid 1px #0099e8;
  border-radius: 5px;

}

.comments_lists {
  margin-bottom: 50px;
}

.comments_list {
  list-style-type: none;
  font-size: 20px;
  margin: 5px 0;
}

/* 学習履歴画面 */
.history_contents {
  width: 1000px;
  margin: 10px auto;
}

.history_head_contents {
  width: 300px;
  margin: 0 auto;
}

.head_contents_learnings {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 30px;
}

.head_contents_max {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 30px;
}

.head_contents_average {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 30px;
}

.table_contents {
  margin: 20px 0;
}

tbody tr:nth-child(2n) {
  background-color: #ecfafc;
}