/* 画面共通 */
.title {
  width: 800px;
  margin: 30px auto;
  size: 40px;
  color: skyblue;
  text-align: center;
}

.main_contents {
  width: 800px;
  margin: 0 auto;
}

/* 問題文一覧画面 */
.table {
  width: 800px;
  border-collapse: collapse;
}

.talbe_head {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.table_tr {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.talbe_content {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.item-btn {
  background-color: #0099e8;
  text-align: center;
  font-size: 15px;
  color: #fff;
  margin: 1px 1px;
  padding: 5px 10px;
  border: solid 1px #0099e8;
  border-radius: 10px;
  text-decoration: none;
}

.item-sumi-btn {
  background-color: #ccc;
  text-align: center;
  font-size: 15px;
  color: #fff;
  margin: 1px 1px;
  padding: 5px 10px;
  border: solid 1px #ccc;
  border-radius: 10px;
  text-decoration: none;
}