.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #0099e8;
  border: 1px solid #0099e8;
  border-radius: 10px;
  color: #fff;
  line-height: 48px;
  font-size: 24px;
  cursor: pointer;

}

.login-flash-message {
  text-align: center;
  color: red;
}

.new_reg {
  width: 500px;
  margin: 30px auto;
}